<div class="mt-4">
    <form method="GET">
  <div class="form-group">
    <label for="search-input">Từ khoá</label>
    <input type="text" name='q' class="form-control" id="search-input" placeholder="Nhập từ khoá...">
    <input type="text" name="fullname" placeholder="Nhập từ fullname...">
    <input type="text" name="age" placeholder="Nhập age...">
</div>

<div class="form-group">
    <label for="lớp-input">Từ khoá</label>
    <select name='lớp' class="form-control" id="lớp-input">
        <option value="">chọn lớp</option>
        <option value="cơ khí">ô tô</option>
        <option value="kinh doanh">hàng hải</option>
     </select>   
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    <form>

   </div>