<div class="mt-4">
    <h3>Nhấp vào đê</h3>

    <form method="POST" class="courses/store">
    <div class="form-group">
        <label for="description">Mô tả</label>
        <input type="text" class="form-control" id="description" name="description"> 
    </div>

    <div class="form-group">
        <label for="name">tên khoá học</label>
        <input type="text" class="form-control" id="name" name="name"> 
    </div>

    <div class="form-group">
        <label for="videoid">video id</label>
        <input type="text" class="form-control" id="videoid" name="videoid"> 
    </div>
     <button type="submit" class="btn btn-primary">thêm khoá học</button>


    
</div>